---
const {style, href, title, img, spanStyle} = Astro.props
---

<a 
  class=`{
    ${style}
    relative inline-flex py-[15px] px-[30px] border-white border-[1px] cursor-pointer [&>img]:hover:right-[100%] [&>span]:hover:left-0 overflow-hidden
  }`
  href={href}>
  {title}
  <img class="absolute top-0 right-0 h-full -z-10 transition-all duration-300" src={img} alt="">
  <span class=`
  ${spanStyle}
  absolute left-[100%] top-0 -z-10 w-full h-full bg-Red block transition-all duration-300
  `></span>
</a>
